/*  
    Primary Colors
*/

$dark-grey:#3C3C3C;
$medium-grey:#646464;
$light-grey:#929294;
$light-grey-10:rgba(146, 146, 148, .1);
$light-grey-20:rgba(146, 146, 148, .2);
$white:white;
$white-80:rgba(255, 255, 255, .8);
$white-10:rgba(255, 255, 255, .1);
$yellow:#FAD41B;


/* 
    Borders and Backgrounds
*/

$background-color: #FCF8EC;
$medium-background-color: #929294;
$light-border-color: #929294;

/* 
    Text
*/
$normal-text: #333333;
$mid-text: #666666;
$subtle-text: #999999;
$ghost-text: #999999;
$error-text: #d32323;
$elite-text: #f15c00;
$warning-text: #f15c00;
$link-text: #0073bb;
$green-text: #41a700;
