<div>
    <div class="nav-actions hidden-lg hidden-md hidden-sm row">
        <div class="col-xs-3" ui-sref="admin.dashboard" ng-class="{active:$state.includes('admin.dashboard')}">
            <span class="action icon-Pie-chart2 "></span>
        </div>
        <div class="col-xs-3" ui-sref="admin.users" ng-class="{active:$state.includes('admin.users')}">
            <span class="action icon-Lock-User2"></span>
        </div>
        <div class="col-xs-3" ui-sref="admin.logs" ng-class="{active:$state.includes('admin.logs')}">
            <span class="action icon-Bullet-List"></span>
        </div>
        <div class="col-xs-3" ui-sref="admin.settings" ng-class="{active:$state.includes('admin.settings')}">
            <span class="action icon-Gear-12"></span>
        </div>
    </div>
</div>